.card {
  margin: 10px;
  border: 1px solid black;
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-image {
  width: 150px;
  height: 100px;
  border: 1px solid black;
}
